.explore {
    width: 100vw;
    height: 100vh;
    background-image: url(./images/bg2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    
    &-content {
        width: 50%;
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .btn {
            margin-top: 40px;
        }
        h1 {
            font-size: 7vmin;
            color: var(--text-color);
            margin: 50px;
        }
        p {
            color: white;
        }
    }
}